<!-- Modal -->
<div class="modal fade minesponsorships" id="sponsorshipsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999999">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <img style="height: 48px; width: 48px;" src="/images/greenDiv.png" alt="">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Pixel Buyer Form -->
        <h1 class="exclusiveHeading">Sponsorships</h1>
        <p class="exclusiveLine">Please reach out if you are interested in discussing sponsorship opportunities.</p>
        <form enctype="multipart/form-data">


          <div class="form-check">
            <input class="form-check-input" type="checkbox" unchecked id="websiteSponsorship">
            <p class="form-check-description">
              Website Sponsorship (PixelMBA)
            </p>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" unchecked id="mbaSponsorship">
            <p class="form-check-description">
              MBA Sponsorship
            </p>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" unchecked id="mbaFinancing">
            <p class="form-check-description">
              MBA Financing & Other Sponsorships
            </p>
          </div>
          <a id="emailLink" href="" class="btn btn-primary form-control btn-no-outline" style="background-color: #26945e !important; padding-top: 1rem;">Reach Out</a>
        </form>

      </div>
    </div>
  </div>
</div>
