@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
}

.containerEnclosed {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5px;

    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;

}

.inludeText {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    max-width: 1200px;
    margin: 0 auto;
}

.greenSmallDiv {
    background-color: #26945e;
    width: 14px;
    height: 15px;
    flex-shrink: 0;
    margin-right: 10px;
}

.pageChange {
    margin-top: 15px;
}

.pageChange a {
    text-decoration: none;
    color: #26945e;
}

.myStory {
    color: #26945e;
}

.formSignup,
.formSignIn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpHeading {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 16px;
}

.container {
    position: relative;
    height: 2rem;
    width: 2rem;
    background-color: #d7e9d9
}

.containerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainSignupDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.logoImgSignup {
    width: 252px;
    height: 75px;
    margin-bottom: 27px;


}

.top {
    width: 1200px;
    margin: 0px auto 22px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 108px;
    align-items: center;
}

.ourrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.topButton {
    background-color: #26945e;
    color: #fff;
    width: 80px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.topLogo {
    width: 252px;
    height: 75px;
}

.signUpBox {
    width: 623px;
    max-width: 624px;
    height: auto;
    background-color: white;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.btn-no-outline.btn {
    border: none;
}

.btn-no-outline.btn:focus,
.btn-no-outline.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    margin-top: 40px;
}

.signUpButton,
.signInButton {
    width: 105%;
    height: 55px;
    color: white;
    background-color: #26945e;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: '400';
}

.topParaText {
    max-width: 1016px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.totalgoal {
    font-size: 16px;
    margin-bottom: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Define the basic styles for the circle */
.heartbeat-circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    animation: heartbeat 1s infinite;
}

.totalpixel {
    margin: 0;
    margin-right: 10px;
    margin-top: 5px;
}

.myrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Custom styling for the file input */
.form-control.visually-hidden {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.choosePixelColor {
    margin: 18px 0;
    color: #BDBDBD;
    font-size: 16px;
}

.modal-header {
    border-bottom: 0;
}

.form-control {
    height: 54px;
}

.popover-arrow::before {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.popover {
    background-color: #81AC86;
}

.popover-body {
    color: white;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover-arrow::after {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

.custom-popover {
    position: relative;
    display: inline-block;
}

.custom-popover .popover-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 4px;
    /* padding: 10px; */
    z-index: 1;
    bottom: 100%;
    width: 260px;
    left: 50%;
    height: 33px;
    transform: translateX(-50%);
    background-color: #81AC86;
    color: white;
    font-size: 12px;
    width: 152px;
    height: 33px;
    flex-shrink: 0;

}

.custom-popover:hover .popover-content {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* Define the heartbeat animation */
@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}


@media (max-width:671px) {

    .containerEnclosed,
    .top {

        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }

    .signUpBox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }

    .container {
        position: relative;
        height: 20px;
        width: 20px;
        background-color: #d7e9d9
    }
}

/* Pixel k uper hover ka css code yeh hai */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 8px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.customHidden {
    display: none;
}

/* Yahan par khatam horha hai */
.afterSignin {
    width: 202px !important;
}