<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/homePage.css"> 
  <title>Homepage</title>
</head>
<body>
  <div >
    <img src="/images/pixel_mba_logo.png" alt="Company Logo" >
    <form action="/usersignup" method="post"> 
    <div >
      <h2>Sign up with your email</h2>
      <input type="email" id="email" name="email" placeholder="Email address">
      <button type="submit">Sign up</button>
    </div>
  </form>
  </div>
</body>
</html>
