<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homePage.css"> 
    <title>Sign in</title>
</head>
<body>
    <div class="mainSignupDiv">
        <img src="/images/pixel_mba_logo.png" class="logoImgSignup" alt="">
        <div class="signUpBox">
            <%- include('../partials/flash') %>
            <form action="/user/login" method="post" class="formSignIn" >
                <h3 class="signUpHeading">Sign In with Your Email</h3>
          
                <input placeholder="email@gmail.com" class="input-field" type="email" name="username" required>
                <input class="input-field" type="password" name="password" id="password" placeholder="Password" required>
    
                <button type="submit" class="signInButton" id="signInButton">Sign in</button>
            </form>
            <p class="pageChange">Don't have an account? <a href="/">Sign up</a></p>
        </div>
    </div>
 
</body>
</html>
