<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homePage.css"> 
    <title>Document</title>
</head>
<body >
    <div class="mainSignupDiv">
   <img src="/images/pixel_mba_logo.png" class="logoImgSignup" alt="">
   <div class="signUpBox">
    <h3>Sign Up with Your Email</h3>
        <input placeholder="email@gmail.com" class="input-field" type="text">
      
      
   </div>
</div>

</body>
</html>